{% extends "reciprocity/base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <form method='post' action='.'>
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button class="btn" type="submit" name="button" value="Register Me">Register</button>
    </div>
    <div class="col-md-2"></div>
  </form>
  </div>
</div>
{% endblock %}
