{% extends "reciprocity/base.html" %}

{% block title %}
Profile View
{% endblock %}

{% block content %}
  <h3>{{user.username}}'s Profile</h3>
  <p><a href="/profile/edit">Edit</a></p>

  <p>First Name: {{user.first_name}}</p>

  <p>Last Name: {{user.last_name}}</p>

  <p>About Me: {{user.profile.about_me}}</p>
  {% if user.authored_recipes.all %}
  {% for recipe in user.authored_recipes.all %}
  <h4>{{recipe.title}}</h4>
  {% endfor %}
  {% else %}
  <h4>You have no recipes</h4>

  {% endif %}


{% endblock %}
