{% extends "base.html" %}

{% block title %}
Profile View
{% endblock %}

{% block content %}
  <h3>{{user.username}}'s Profile</h3>
  <p><a href="/profile/edit">Edit</a></p>

  <p>First Name: {{user.first_name}}</p>

  <p>Last Name: {{user.last_name}}</p>
  <p>Ingredients you like: {{user.profile.liked_ingredients}}</p>

  <p>ingredients you do not like: {{user.profile.disliked_ingredients}}</p>
  <p>About Me: {{user.profile.about_me}}</p>
  {% if user.recipes %}
  <h2>You have recipes!</h2>
  {% else %}
  <h2>You have no recipes</h2>

  {% endif %}


{% endblock %}
