{% extends 'reciprocity/base.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}
Reciprocity - Add Recipe
{% endblock %}

{% block content %}
{% bootstrap_formset_errors formset %}
{% bootstrap_form_errors recipe_form %}
<form method="post" class="form" action=".">
  {% csrf_token %}
  {% bootstrap_form recipe_form %}
  {% bootstrap_formset formset %}

 {% buttons submit='Submit' reset='Reset' layout='inline' %}
 <a href="{% url 'home' %}" class="btn btn-primary btn-md active" role="button">Home</a>
 {% endbuttons %}

</form>
{% endblock %}
