{% extends 'reciprocity/base.html' %}
{% block title %}
Reciprocity - My Recipes
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1> My Recipes </h1>
    </div>
    <div class="row">
        {% for recipe in object_list %}
        {% if not forloop.counter|divisibleby:3 %}
          {% include 'recipe/recipe_tile.html' %}
        {% else %}
          {% include 'recipe/recipe_tile.html' %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
