{% extends 'reciprocity/base.html' %}

{% block title %}
Reciprocity - {{ recipe.title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="page_title">{{ recipe.title }}</h1>
  <h2>{{ recipe.description }}</h2>
  <div class="container-fluid">
    {% for ingredient in recipe.ingredients_in_recipe.all %}
    <div class="row">
      <div class="col-md-2">{{ ingredient.ingredient }}</div>
      <div class="col-md-4">{{ ingredient.quantity }}</div>
      <div class="col-md-5"></div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-4">{{ recipe.directions|linebreaks }}</div>
      <div class="col-md-8"></div>
    </div>
    {% if request.user.pk == recipe.author.pk %}
    <a href="{% url 'edit-recipe' pk=recipe.pk %}">
      <button class="btn">Edit this recipe</button></a>
    {% endif %}
    {% if recipe.privacy == 'pu' %}
    <a href="{% url 'vary-recipe' pk=recipe.pk %}">
      <button class="btn">Offer a variation</button></a>
    {% endif %}
  </div>
</div>

{% endblock %}
